services:
  db:
    image: postgres:15
    container_name: coffee_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: coffee_inventory
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
